*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.to-top {
    background: url('../img/top.png') no-repeat;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/* Wrapper
=================================== */
.wrapper {
    background: #000;
    overflow: hidden;
}

/*  Nav-toggle
========================== */

.nav-toggle {
    position: absolute;
    padding: 15px;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
    top: 24px;
    right: 24px;
    z-index: 1;
    width: 30px;
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #D1AA6F;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #D1AA6F;
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s linear;
    transition: -webkit-transform .5s linear;
    -o-transition: transform .5s linear;
    transition: transform .5s linear;
    transition: transform .5s linear, -webkit-transform .5s linear;
    transition: transform .5s linear, -webkit-transform .2s linear;
}

.nav-toggle__item::before {
    top: -8px;
}

.nav-toggle.active .nav-toggle__item::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(400deg) translateX(-5px);
    -ms-transform: rotate(400deg) translateX(-5px);
    transform: rotate(400deg) translateX(-5px);
    margin: 10px;
    margin-top: -3px;
}

.nav-toggle.active .nav-toggle__item::after {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-400deg) translateX(-5px);
    -ms-transform: rotate(-400deg) translateX(-5px);
    transform: rotate(-400deg) translateX(-5px);
    margin: 10px;
    margin-bottom: 7px;
}

.nav-toggle__item::after {
    bottom: -8px;
}

/* Header
=================================== */
.header {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9999;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav.fixed {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 2;
    border: none;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    left: 0;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.logo {
    width: 96px;
    height: 74px;
}

.logo-2 {
    display: none;
}

.nav__link a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 20px;
    position: relative;
    margin: 0;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
}

.nav__link a span {
    position: absolute;
    display: block;
    background: #ffd24b;
}

.nav__link a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a:hover span:nth-child(1) {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a:hover span:nth-child(2) {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a span:nth-child(3) {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a:hover span:nth-child(3) {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a:hover span:nth-child(4) {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__link a:hover {
    /* color: #ffd24b; */
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.nav__link a:last-child {
    margin-right: 0;
}

.lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.lang a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    color: #000;
    border: 1px solid #121212;
    text-transform: uppercase;
    border-radius: 5px;
}

.lang a:first-child {
    margin-right: 8px;
}

.lang a:first-child:hover {
    background: #000;
    color: #fff;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.lang a:last-child {
    color: #fff;
    background: #000;
}

.lang a:last-child:hover {
    background: #fff;
    color: #000;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

/* Intro
=================================== */
.intro {
    position: relative;
    height: 650px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.intro::after {
    background: #FFF4E5;
    border-radius: 50%;
    width: 1319px;
    height: 1319px;
    z-index: -1;
    top: -120%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    right: 0;
    margin: 0 auto;
    content: "";
    position: absolute;
}

.intro-logo {
    width: 228px;
    height: 175px;
    margin-bottom: 40px;
}

.intro-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #121212;
    margin-bottom: 60px;
}

.link {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #121212;
    padding-bottom: 10px;
}

.scroll {
    padding: 10px;
}

.down {
    fill: #000;
    width: 23px;
    cursor: pointer;
    padding-bottom: 60px;
}

.down:hover {
    fill: #c00;
}

.intro .container {
    position: relative;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    position: absolute;
    top: 90%;
}

.social svg {
    width: 45px;
    height: 45px;
    margin: 0 10px;
}

.social svg:last-child {
    margin-right: 0;
    padding-right: 15px;
}

.youtube:hover {
    fill: #EFD3A8;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.facebook:hover {
    fill: #EFD3A8;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.instagram:hover {
    fill: #EFD3A8;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.line-left1 {
    position: absolute;
    left: -5px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
}

.line-left2 {
    position: absolute;
    left: -5px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
    top: 47%;
}

.line-right1 {
    position: absolute;
    right: -5px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
}

.line-right2 {
    position: absolute;
    right: -5px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    top: 47%;
}

/* About
=================================== */
.about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.about .container {
    position: relative;
}

.about-line1 {
    position: absolute;
    right: 25px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    top: 53%;
    z-index: 1;
}

.about-line2 {
    position: absolute;
    right: 25px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    top: 68%;
    z-index: 1;
}

.about__content-left {
    padding-top: 40px;
}

.about-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #D1AA6F;
    margin-bottom: 15px;
}

.about-suptitle {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    max-width: 325px;
    line-height: 24px;
    margin-bottom: 20px;
}

.about-text1,
.about-text2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    max-width: 455px;
}

/* Exclusive
=================================== */
.exclusive {
    padding-top: 100px;
    position: relative;
}

.exclusive-decorate {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    z-index: 0;
}

.exclusive-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 106px;
    z-index: 0;
}

.exclusive-decorate2 {
    position: absolute;
    right: 0;
    top: 50%;
    width: 80px;
    /* transform: rotate(180deg); */
    z-index: 0;
}

.exclusive-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 106px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    z-index: 0;
}

.exclusive-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.exclusive-title {
    color: #D1AA6F;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 70px;
}

.exclusive-block {
    width: 290px;
    cursor: pointer;
}

.block-title {
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-size: 27px;
    line-height: 31px;
    padding-top: 20px;
}

.exclusive-content svg {
    fill: #fff;
    width: 87px;
    height: 87px;
}

.exclusive-block:hover .exclusive-svg,
.exclusive-block:hover .block-title {
    fill: #D1AA6F;
    color: #D1AA6F;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

/* Product
=================================== */
.product {
    padding-top: 80px;
}

.product-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.product-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #D1AA6F;
    margin-bottom: 50px;
}

.product-block {
    border: 2px solid #EFD3A8;
    border-radius: 20px;
    background: #fff;
    width: 269px;
    height: 221px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
}

.product-img {
    width: 184px;
    height: 184px;
    position: absolute;
    border-radius: 5px;
}

.product-block:hover .product-img {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

/* Partner
=================================== */
.partner {
    margin-top: 70px;
}

.partner .container {
    position: relative;
}

.partner-line1 {
    position: absolute;
    right: 30px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    top: 40%;
    z-index: 1;
}

.partner-line2 {
    position: absolute;
    right: 25px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    top: 55%;
    z-index: 1;
}

.partner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 2;
}

.partner-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #D1AA6F;
    margin-bottom: 50px;
}

.partner-block {
    width: 174px;
    height: 148px;
    background: #FFFFFF;
    border: 2px solid #EFD3A8;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
}

/* Numbers
=================================== */
.numbers {
    margin-top: 80px;
    position: relative;
}

.number-decorate {
    position: absolute;
    right: 0;
    top: 0%;
    z-index: 0;
    width: 60px;
}

.number-right {
    position: absolute;
    right: 0;
    top: -150px;
    z-index: 0;
    width: 80px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}


.number-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #D1AA6F;
    margin-bottom: 50px;
}

.number-content {
    background: url('../img/1920.jpg') center center fixed;
    height: 336px;
    margin-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #EFD3A8;
    overflow: hidden;
}

.number-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ECD7B7;
    opacity: 0.9;
    z-index: -1;
}

.number {
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    color: #121212;
    font-weight: 700;
}

.num {
    position: relative;
}

.num::after {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #121212;
    font-weight: 700;
    position: absolute;
    content: 'm2';
    right: -65px;
    bottom: 0;
}

.number-block {
    margin-right: 40px;
    margin-top: 125px;
}

.number-block:first-child {
    margin-left: 50px;
}

.number-block p {
    font-family: Arial;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #121212;
}

/* Contact
=================================== */
.contact {
    margin-top: 50px;
    padding-bottom: 80px;
}

.contact-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #D1AA6F;
    margin-bottom: 50px;
}

.contact-content {
    width: 100%;
    height: 562px;
    border: 1px solid #D1AA6F;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background: #D1AA6F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.adres {
    width: 850px;
    height: 564px;
    border-radius: 20px;
}

.contact-suptitle {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: #fff;
    padding-left: 22px;
    margin-bottom: 20px;
}

.contact-tel {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    padding-left: 28px;
}

.contact-adres {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    color: #fff;
    padding-left: 22px;
    margin-top: 35px;
}

.contact-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding-left: 22px;
    padding-top: 15px;
}

.contact-mode {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    color: #fff;
    padding-left: 22px;
    margin-top: 25px;
    padding-bottom: 15px;
}

.contact-time {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding-left: 22px;
}

/* Footer
=================================== */
.footer {
    background: #fff;
    -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.02);
            box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.02);
    height: 152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.footer .container {
    position: relative;
    z-index: 2;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-logo {
    width: 76px;
    height: 59px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-bg {
    position: absolute;
    bottom: 0;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer svg {
    width: 30px;
}

/* Project
=================================== */
.intro-block {
    background: #FFF4E5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
}

.intro-block .intro-logo {
    margin-top: 60px;
}

.intro-block .down {
    padding-bottom: 30px;
}

.project-social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 50px;
}

.project-social a {
    margin: 0 10px;
}

.project-social a:last-child {
    margin-right: 0;
}

.project-social svg {
    margin-left: 5px;
}

.project-social svg:last-child {
    padding-right: 0;
    width: 30px;
    height: 30px;
}

.youtube-black {
    fill: #fff;
}

.facebook-black {
    fill: #fff;
}


.instagram-black {
    fill: #fff;
}

.youtube-black:hover {
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer;
    fill: #EFD3A8;
}

.facebook-black:hover {
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer;
    fill: #EFD3A8;
}


.instagram-black:hover {
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer;
    fill: #EFD3A8;
}

/* Project Content
=================================== */
.project-page {
    position: relative;
}

.project-content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 50px;
    position: relative;
}

.block {
    margin: 0 10px;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.project-block {
    width: 360px;
    height: 276px;
    background: #fff;
    border: 3px solid #EFD3A8;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project-block img {
    margin: 0 auto;
    width: 70%;
}

.project-block:hover .project-img {
    position: absolute;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.block h4 {
    color: #fff;
    max-width: 351px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Arial', sans-serif;
    padding-top: 20px;
}

.project-left1 {
    position: absolute;
    left: 20px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(26.5deg);
        -ms-transform: rotate(26.5deg);
            transform: rotate(26.5deg);
    top: -9%;
}

.project-left2 {
    position: absolute;
    left: 20px;
    top: -3%;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(26.5deg);
        -ms-transform: rotate(26.5deg);
            transform: rotate(26.5deg);
}

.project-right1 {
    position: absolute;
    right: 10px;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(26.5deg);
        -ms-transform: rotate(26.5deg);
            transform: rotate(26.5deg);
    top: 14%;
}

.project-right2 {
    position: absolute;
    right: 10px;
    top: 20%;
    width: 9px;
    height: 175px;
    background: #EFD3A8;
    -webkit-transform: rotate(26.5deg);
        -ms-transform: rotate(26.5deg);
            transform: rotate(26.5deg);
}

.project-decorate {
    position: absolute;
    left: 0;
    top: 35%;
}

/* Product
=================================== */
.project-page .product {
    padding-top: 30px;
}

.product-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 2;
    padding-bottom: 80px;
}

.product-block {
    width: 270px;
    height: 439px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 30px;
    margin: 0 10px 40px;
    position: relative;
    z-index: 2;
}

.product-block:first-child {
    margin-left: 0;
}

.product-block:nth-child(4) {
    margin-right: 0;
}

.product-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 242px;
    width: 270px;
    width: 100%;
}

.product-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 197px;
    width: 270px;
    background: -webkit-gradient(linear, left bottom, left top, from(#FFF4E5), to(#FFF4E5)), #F2F2F2;
    background: -o-linear-gradient(bottom, #FFF4E5, #FFF4E5), #F2F2F2;
    background: linear-gradient(0deg, #FFF4E5, #FFF4E5), #F2F2F2;
    width: 100%;
    text-align: center;
}

.product-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-info {
    max-width: 230px;
    color: #121212;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.5px;
    margin-bottom: 20px;
}

.product-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFF4E5;
    padding: 10px 10px;
    background: #121212;
    border-radius: 30px;
    width: 187px;
    margin: 0 auto;
}

.product-link:hover {
    background: #fff;
    color: #000;
    width: 191px;
    padding: 6px 6px;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border: 4px solid #ffd24b
}

.product-5 {
    width: 90%;
    height: auto;
}

.product-right1 {
    top: 74%;
    left: 60%;
}

.product-right2 {
    top: 78%;
    left: 61%;
}

.product__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
}

.product-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #D1AA6F;
    margin-bottom: 50px;
}

.product__block {
    border: 2px solid #EFD3A8;
    border-radius: 20px;
    background: #fff;
    width: 269px;
    height: 221px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
}

.product__img {
    width: 184px;
    height: 184px;
    position: absolute;
    border-radius: 5px;
}

.product__block:hover .product__img {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

/* News
=================================== */
.news {
    position: relative;
    z-index: 3;
}

.news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
}

.news-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: relative;
    z-index: 9;
}

.news__left-box {
    width: 367px;
    height: 221px;
    background: #FFFFFF;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.news-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.news__left-box img {
    width: 318px;
    height: 76px;
}

.news-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #D1AA6F;
    padding-left: 20px;
    padding-bottom: 15px;
}

.news-text {
    max-width: 233px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 15px;
}

.news-time {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #D1AA6F;
    padding-left: 20px;
}

.news-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.news-box {
    width: 174px;
    height: 129px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 5px 10px;
}

.news-box:nth-child(2),
.news-box:nth-child(4) {
    margin-right: 0;
}

.news-left1 {
    -webkit-transform: rotate(-26deg);
        -ms-transform: rotate(-26deg);
            transform: rotate(-26deg);
    top: 33%;
    left: 0;
    z-index: -1;
}

.news-left2 {
    -webkit-transform: rotate(-26deg);
        -ms-transform: rotate(-26deg);
            transform: rotate(-26deg);
    top: 50%;
    left: 0;
    z-index: -1;
}

/* Responsive
=================================== */
@media (max-width: 1280px) {
    .exclusive-decorate {
        left: -45px;
    }

    .exclusive-left {
        left: -45px;
    }

    .exclusive-decorate2 {
        right: -45px;
    }

    .exclusive-right {
        right: -45px;
    }

    .number-decorate {
        right: -45px;
    }

    .to-top {
        right: 30px;
        z-index: 999;
    }

    .number-right {
        right: -45px;
    }

    .nav.fixed {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .nav.fixed .nav__link {
        margin: 0 85px;
    }
}

@media (max-width: 1250px) {
    .exclusive-decorate {
        display: none;
    }

    .exclusive-left {
        display: none;
    }

    .exclusive-decorate2 {
        display: none;
    }

    .exclusive-right {
        display: none;
    }

    .number-decorate {
        display: none;
    }

    .to-top {
        right: 20px;
        z-index: 999;
    }

    .number-right {
        display: none;
    }

    .box {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1150px) {
    .adres {
        max-width: 100%;
    }

    .contact- .nav.fixed .nav__link {
        margin: 0;
    }

    .partner-content {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .partner-block {
        margin: 15px;
    }

    .number-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        height: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }

    .number-block {
        width: 250px;
        margin: 20px 50px;
        padding: 10px;
    }

    .num::after {
        right: -55px;
    }
}

@media (max-width: 1100px) {
    .about__content {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }

    .about-suptitle {
        max-width: 700px;
    }

    .about-text1 {
        max-width: 700px;
    }

    .about-text2 {
        max-width: 700px;
    }

    .about__content-right {
        padding-top: 50px;
    }

    .exclusive-title {
        text-align: center;
    }

    .exclusive-content {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
    }

    .exclusive-block {
        margin: 20px;
    }

    .product-title {
        text-align: center;
    }

    .product__content {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .product__block {
        margin: 20px;
    }

    .product__block:last-child {
        margin: 20px;
        margin-left: 20px;
    }

    .product-block:first-child {
        margin-left: 20px;
    }

    .intro-title {
        text-align: center;
        position: relative;
        z-index: 9;
    }

    .partner-title {
        text-align: center;
    }

    .number-title {
        text-align: center;
    }

    .contact-title {
        text-align: center;
    }

    .social {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
        left: 0;
    }

    .social svg:last-child {
        margin-right: 0;
        margin: 10px;
        padding-right: 0;
    }

    .social svg {
        margin: 20px;
    }

    .footer a {
        margin: 0;
        padding: 0;
    }

    .footer svg {
        width: 45px;
        padding: 0;
        margin: 10px;
    }
}

@media (max-width: 1024px) {
    .nav {
        display: block;
        position: absolute;
        top: -1200px;
        left: 0;
        right: 0;
        -webkit-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
        transition: all .5s ease-in;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        border: 1px solid #e4b016;
        opacity: 0;
        width: 100%;
    }

    .nav.active {
        top: 1200px;
        opacity: 1;
        -webkit-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
        transition: all .5s ease-in;
        display: block;
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        background: #000;
        text-align: center;
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 0;
        border: 1px solid #e4b016;
    }

    .nav.active .nav__link a {
        color: #fff;
        font-size: 30px;
        padding: 10px 0;
    }

    .nav.active .logo-1 {
        display: none;
    }

    .nav.active .logo-2 {
        display: block;
    }

    .nav.active .nav__link {
        padding-top: 30px;
    }

    .logo {
        margin: 0 auto;
        text-align: center;
        width: 200px;
        margin-bottom: 60px;
    }

    .logo img {
        margin: 0 auto;
        text-align: center;
    }

    .lang {
        margin-top: 30px;
    }

    .lang a {
        background: #fff;
        color: #000;
    }

    .nav-toggle {
        display: block;
        z-index: 9999;
        position: fixed;
    }

    #nav_toggle.fixed {
        position: relative;
        position: fixed;
    }

    .logo::after {
        display: none;
    }

    .nav__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
    }

    .nav__link a {
        font-size: 50px;
        padding: 20px;
    }

    .nav__link a:last-child {
        margin-bottom: 0px;
    }

    .about__content {
        padding-top: 0;
    }

    .exclusive {
        padding-top: 60px;
    }

    .exclusive-title {
        margin-bottom: 50px;
    }

    .exclusive-title {
        margin-bottom: 30px;
    }

    .product {
        padding-top: 60px;
    }

    .product-title {
        margin-bottom: 30px;
    }

    .partner {
        margin-top: 50px;
    }

    .partner-title {
        margin-bottom: 30px;
    }

    .numbers {
        margin-top: 60px;
    }

    .contact-suptitle {
        padding-right: 22px;
    }

    .news-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .news-box {
        margin: 15px;
    }

    .news-box:nth-child(2), .news-box:nth-child(4) {
        margin-right: 15px;
    }

    .news-right {
        margin: 0 auto;
        padding-top: 20px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .news-left {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-top: 20px;
    }

    .news-text {
        max-width: 100%;
        text-align: center;
        padding: 0 20px;
        line-height: 20px;
    }

    .news-title {
        text-align: center;
        padding-left: 0;
        padding-top: 30px;
    }

    .news-time {
        text-align: center;
        padding-top: 10px;
    }
}

@media (max-width: 575px) {
    .intro {
        height: 570px;
    }

    .intro-logo {
        margin-bottom: 20px;
    }

    .intro-title {
        font-size: 42px;
        margin-bottom: 30px;
    }

    .intro::after {
        top: -150%;
        background: #FFF4E5;
    }

    .down {
        padding-bottom: 30px;
    }

    .line-left1 {
        top: 80px;
    }

    .line-left2 {
        top: 10px;
    }

    .line-right1 {
        top: 80px;
    }

    .line-right2 {
        top: 10px;
    }

    .about-title {
        font-size: 36px;
    }

    .exclusive {
        padding-top: 40px;
    }

    .exclusive-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .product {
        padding-top: 20px;
    }

    .product-block {
        width: 320px;
        height: 270px;
    }

    .product-img {
        width: 230px;
        height: 230px;
    }

    .product-title {
        margin-bottom: 20px;
        font-size: 36px;
    }

    .partner {
        margin-top: 20px;
    }

    .partner-title {
        margin-bottom: 25px;
        font-size: 36px;
    }

    .partner-block {
        width: 320px;
        height: 270px;
    }

    .number-title {
        font-size: 36px;
    }

    .numbers {
        margin-top: 25px;
    }

    .number-title {
        margin-bottom: 40px;
    }

    .number-content {
        margin-bottom: 0;
    }

    .contact {
        margin-top: 40px;
    }

    .contact-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto;
    }

    .contact-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .contact-tel {
        padding-left: 0;
    }

    .contact-adres {
        padding-left: 0;
    }

    .contact-text {
        padding-left: 0;
    }

    .contact-mode {
        padding-left: 0;
    }

    .contact-time {
        padding-left: 0;
    }

    .contact-title {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .contact-suptitle {
        padding-top: 20px;
    }

    .time {
        padding-bottom: 20px;
    }

    .adres {
        height: 400px;
    }

    .footer {
        height: auto;
    }

    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;

    }

    .footer-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-link img {
        width: 30%;
        height: auto;
    }

    .copyright {
        padding: 10px 0;
    }

    .project-social a {
        margin: 5px;
        font-size: 18px;
    }

    .project-social svg {
        width: 45px;
        height: 45px;
    }

    .project-social svg:last-child {
        width: 45px;
        height: 45px;
    }

    .project {
        position: relative;
        z-index: 3;
    }

    .project-block {
        max-width: 325px;
        margin: 0 auto;
        text-align: center;
    }

    .box {
        padding-bottom: 0;
    }

    .products-block {
        height: auto;
    }

    .product-img {
        height: auto;
    }

    .block {
        margin-bottom: 40px;
    }

    .footer svg {
        height: 45px;
    }

    .product-block:first-child {
        margin-left: 10px;
    }

    .news-title {
        padding-left: 0;
        padding-top: 20px;
    }

    .news-text {
        padding-left: 0;
        max-width: 100%;
    }

    .news-time {
        padding-left: 0;
    }

    .news-box {
        margin: 5px;
        width: 150px;
    }

    .news-box:nth-child(2), .news-box:nth-child(4) {
        margin-right: 5px;
    }

    .news-info {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
    }

    .news-left {
        text-align: center;
        margin: 0 auto;
    }

    .contact {
        padding-bottom: 40px;
    }
}